extends layout

block content
    div#app
        div.container
            div.jumbotron.text-center
                h1 ROZKROJE PROFILI
            div.row
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading(data-bind="click: toggleConfig.bind($data)")
                            span.glyphicon.glyphicon-cog  Parametry programu
                        div.panel-body(data-bind="visible: showConfiguration")
                            div.form-inline
                                div.form-group.col-md-5
                                    label.control-label(for="referenceLength") Długość lagi: &nbsp;
                                    div.input-group
                                        input#referenceLength.form-control(type="number", min="0", step="100", data-bind="value: referenceLength")
                                        span.input-group-addon mm
            div.row
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading(data-bind="click: toggleInputSection.bind($data)")
                            span.glyphicon.glyphicon-log-in  Dane wejściowe
                        div.panel-body(data-bind="visible: showInputSection")
                            div.row
                                div.col-md-3
                                    div#inputTable.hot.handsontable.htRowHeaders.htColumnHeaders
                                div.col-md-3
                                    button.btn.btn-success(type="button", data-bind="click: sendData.bind($data)") 
                                        // ko if: showLoader()
                                        span.glyphicon.glyphicon-cog.spin
                                        // /ko
                                        // ko if: !showLoader()
                                        span &nbsp;Wykonaj
                                        // /ko
                                    button.btn.btn-danger(type="button", data-bind="click: resetData.bind($data)") Resetuj
            div.row
                div.col-md-12
                    div.panel.panel-primary
                        div.panel-heading(data-bind="click: toggleResultSection.bind($data)")
                            span.glyphicon.glyphicon-log-out  Wynik
                        div.panel-body(data-bind="visible: showResultSection")
                            div#stats.row.space-below(data-bind="if: result().length > 0")
                                div.col-md-12
                                    p
                                        span Suma odpadu w metrach: 
                                        strong(data-bind="text: stats.wasteSumInMeters() + 'm'")
                                    p
                                        span Ilość potrzebnych lag: 
                                        strong(data-bind="text: stats.countSum()") 
                                        span(data-bind="text: ' (o długości ' + referenceLength() + 'mm)'")
                                    p
                                        span Suma materiału: 
                                        strong(data-bind="text: stats.materialSumInMeters() + 'm'")
                            div.row.space-below
                                div.col-md-12
                                    buton.btn.btn-default(data-bind="click: copyResult.bind($data)") 
                                        span.glyphicon.glyphicon-copy 
                                        span Kopiuj
                            div.row
                                div.col-md-12
                                    table.table.table-striped#resultTable
                                        thead
                                            tr
                                                th Wzór
                                                th Ilość
                                                th Odpad
                                        tbody(data-bind="foreach: { data: result, as: 'pattern'} ")
                                            tr
                                                td(data-bind="text: pattern.elements.join(', ')")
                                                td(data-bind="text: `x${pattern.count}`")
                                                td(data-bind="text: `${pattern.waste} mm`")

block footer
    div.container
        div.footer__version
            span Wersja: 
            a(href="https://github.com/Prusdrum/Rozkroje/blob/new-app/CHANGELOG.md")= version

block scripts
    script(src="/javascripts/division.js")


