extends layout

block content
    div#app

block footer
    script.
        var settings = {
            locale: '#{locale}'
        }

    div.container
        div.footer__version
            span #{translations('version')}: 
            a(href= changelogUrl, target="_blank")= version

block scripts
    script(src="/javascripts/division.js")


