doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet")
    include partials/_googleAnalytics.pug
  body
    block content
    block footer
    block scripts
